# Environment variables and sensitive secrets
.env

# Python system folders and compiled files
__pycache__/
*.py[cod]
*$py.class
.venv/
venv/
ENV/

# PyCharm and Streamlit working files
.idea/
.streamlit/
